/* dark red #A8000B
    red #F50112
    medium red #FF1929
    yellow #F5EF18
    lighter blue #18A7F5
    dark blue #0870A8*/

    @import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700&family=Eczar:wght@400;500;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300&family=Roboto+Slab:wght@400;600;700&display=swap');
   /* font-family: 'BioRhyme', serif;
   font-family: 'Eczar', serif;
   font-family: 'Roboto Slab', serif;
   font-family:'Poppins', sans serif
   */


* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    margin:0 auto;
    background-color:#A8000B;
    height:100%;
    /*font-family:'Eczar'*/
    /*font-family:'roboto slab';*/
    font-family:'poppins', sans-serif;
    /*font-family:'BioRhyme'*/
    
}

header {
    background-color:#A8000B;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:#f2f2f2;
    margin:0 auto;
}

header ul {
    display:flex;
    justify-content:center;
    align-items:center;
}
header li {
    display:flex;
    list-style:none;
    justify-content:center;
    padding:15px;
    font-size:1em;
}

.contact {
    text-align:center;
    background-color:rgba(0, 0, 0, 0.4);
    padding:10px;
}



.bgpic {
    background-image:url(sizzlemeats-md.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh;
    background-position:center;
}

.main-p {
    background-color:rgba(0, 0, 0, 0.4);
    padding:0 10px 5px 10px;
}

.logo {
    margin-top:10px;
    margin-bottom:5px;
}
header img {
    height:100px;
    width:100px;
}

.main {
    height:100vh;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:25px;
    color:#f2f2f2;
}


h1 {
    font-size:4em;
    padding:20px;
    background-color:rgba(0, 0, 0, 0.4);
    font-family:'Eczar', serif;
}

.main-btns {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.4);
    border:2px solid #f2f2f2;
}
.btns {
    text-align:center;
    padding:5px;
    font-size:1em;
    color:#f2f2f2;
    font-weight:400;
    border:2px solid #f2f2f2;
}
#onlineorder {
    background-color:#A8000B;
}

#specials {
    background-color:/*#F5EF18*/
    /*#18A7F5*/
    #0870A8
}

#callahead {
    background-color:#A8000B;
}

/*.menu-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color: #f2f2f2;
    background-color:rgba(0, 0, 0, 0.4);
}*/

#main-logo {
    width:250px;
    height:auto;
    margin:10px auto;
    display:flex;
    
}

h2 {
    font-family:'Eczar', serif;
    display:flex;
    justify-content:center;
    color:#f2f2f2;
    font-size:2em;
    text-decoration:underline;
}

.menuoption {
    display:flex;
    flex-direction:column;
}

/*.menu-btn {
    margin:10px 25%;
    padding:5px;
    text-align:left;
    font-size:1.25em;
    background-color:red;
    color:#f2f2f2;
    font-family: 'Poppins', sans-serif;
}*/
/*.menucontent {
    
    flex-direction:column;
    text-align:center;
    padding:10px 5px;
    color:#f2f2f2;
    gap:10px;
    border:2px solid yellow;*/


.menu-btn {
    background-color: #A8000B;
    color: #f2f2f2;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1em;
    font-family:'Poppins', sans-serif;
    text-decoration:underline;
  }

  .active, .menu-btn:hover {
    background-color: #F50112;
  }

  .menucontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f2f2f2;
  }

  .menu-btn:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 1em;
    float:left;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    float:right;
  }